# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=your_username
RABBITMQ_PASSWORD=your_password

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_mail
MAIL_PASSWORD=your_mail_password

# Tracing
OTLP_TRACING_ENABLED=false
OTLP_TRACING_ENDPOINT=http://ditda-alloy:4318/v1/traces